.list {
    padding-bottom: 40px;
    &__item {           
        &.active {
            .list__item-box {
                display: block;
            }
            .list__item-img {
                transition: all .4s;
                transform: rotate(-90deg);
            }
        }
        &-top {
            border-bottom: 2px solid $colorText;
            padding-bottom: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;
            cursor: pointer;
        }       
        &-title {
            font-family: 'SF Pro Bold', sans-serif;
            font-weight: 700;
            font-size: 22px;
            line-height: 26.25px;
            color: $colorText;           
        }
        &-img {
            width: 24px;
            height: 24px;
            transform: rotate(90deg);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-box {
            display: none;
        }
        &-name {
            font-family: 'SF Pro Black', sans-serif;
            font-weight: 900;
            font-size: 16px;
            line-height: 19.09px;
            color: $colorText;
            margin-bottom: 15px;
        }
        &-descr {
            font-family: 'SF compact text medium', sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 19.09px;
            color: $colorText;
            margin-bottom: 15px;
        }
        &-lists {
            list-style: disc;
            margin-left: 40px;
            margin-bottom: 15px;
        }
        &-element {
            font-family: 'SF Pro medium', sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 19.09px;
            color: #1D1D1F;
        }
    }
}